.DS_STORE
node_modules
bower_components
dist

# Include when developing application packages.
pubspec.lock
.c9

.idea/
.settings/
*.swo
modules/.settings

.vscode
modules/.vscode

# Ignore npm debug log
npm-debug.log

# build-analytics
.build-analytics

# rollup-test output
.gitignore.swp
*.swp
