@media (max-width: 767px) {
  .unlock-account {
    width: 500px;
    position: relative;
    background: #fff;
    color: #616161;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    padding: 40px;
    font-size: 15px;
    margin: 0 20px;
  }
  .unlock-account .unlock-account-img img {
    margin-bottom: 20px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    width: 100px;
    height: 100px;
  }
  .unlock-account form {
    margin-bottom: 20px;
  }
  .unlock-account h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .unlock-account h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .unlock-account label:not(.custom-control) {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .unlock-account .form-group {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .unlock-account {
    width: 600px;
    position: relative;
    background: #fff;
    color: #616161;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    padding: 40px;
    font-size: 15px;
  }
  .unlock-account .unlock-account-img img {
    margin-bottom: 20px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    width: 100px;
    height: 100px;
  }
  .unlock-account form {
    margin-bottom: 20px;
  }
  .unlock-account h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .unlock-account h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .unlock-account label:not(.custom-control) {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .unlock-account .form-group {
    margin-bottom: 20px;
  }
}
