.table th,
.table td {
  border-width: 1px;
}

.table thead th, .table thead td,
.table tbody th,
.table tbody td {
  border-width: 1px;
  display: table-cell;
  vertical-align: middle;
}

.table.table-unbordered thead th, .table.table-unbordered thead td, .table.table-unbordered thead tr,
.table.table-unbordered tbody th,
.table.table-unbordered tbody td,
.table.table-unbordered tbody tr {
  border: none !important;
}

.table.table-condensed th, .table.table-condensed td {
  padding: 5px 10px;
}

[data-background="light"] .table th,
[data-background="light"] .table td {
  background-color: #fff;
  border-color: #ebebeb;
  color: #353535;
}

[data-background="light"] .table tbody td {
  border-color: #ebebeb;
}

[data-background="light"] .table tbody td:hover {
  background-color: #f0f0f0;
}

[data-background="light"] .table thead.thead-default th {
  background-color: #fff;
  border-color: #ebebeb;
}

[data-background="light"] .table thead.thead-inverse th {
  color: #fff;
  background-color: #353535;
  border-color: #353535;
}

[data-background="light"] .table thead.thead-light th {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #fff;
}

[data-background="light"] .table thead.thead-dark th {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="light"] .table thead.thead-primary th {
  border-color: #2684f5;
  background-color: #2684f5;
  color: #fff;
}

[data-background="light"] .table thead.thead-secondary th {
  border-color: #6200ea;
  background-color: #6200ea;
  color: #fff;
}

[data-background="light"] .table thead.thead-info th {
  border-color: #00b8d4;
  background-color: #00b8d4;
  color: #fff;
}

[data-background="light"] .table thead.thead-success th {
  border-color: #43a047;
  background-color: #43a047;
  color: #fff;
}

[data-background="light"] .table thead.thead-warning th {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}

[data-background="light"] .table thead.thead-danger th {
  border-color: #e53935;
  background-color: #e53935;
  color: #fff;
}

[data-background="light"] .table tbody tr:hover td {
  background-color: #f0f0f0;
}

[data-background="light"] .table tbody tr.table-active > th,
[data-background="light"] .table tbody tr.table-active > td {
  background-color: #f0f0f0;
}

[data-background="light"] .table tbody tr.table-light > td {
  border-color: #f5f5f5 !important;
  background-color: #f5f5f5 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-light tr:hover > td {
  border-color: #e8e8e8;
  background-color: #e8e8e8;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-dark > td {
  border-color: #212121 !important;
  background-color: #212121 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-dark tr:hover > td {
  border-color: #141414;
  background-color: #141414;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-default > td {
  border-color: #212121 !important;
  background-color: #212121 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-default tr:hover > td {
  border-color: #141414;
  background-color: #141414;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-primary > td {
  border-color: #2684f5 !important;
  background-color: #2684f5 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-primary tr:hover > td {
  border-color: #1739fe;
  background-color: #1739fe;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-secondary > td {
  border-color: #6200ea !important;
  background-color: #6200ea !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-secondary tr:hover > td {
  border-color: #5700d1;
  background-color: #5700d1;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-info > td {
  border-color: #00b8d4 !important;
  background-color: #00b8d4 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-info tr:hover > td {
  border-color: #00a2bb;
  background-color: #00a2bb;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-success > td {
  border-color: #43a047 !important;
  background-color: #43a047 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-success tr:hover > td {
  border-color: #3b8e3f;
  background-color: #3b8e3f;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-warning > td {
  border-color: #ff9800 !important;
  background-color: #ff9800 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-warning tr:hover > td {
  border-color: #e68900;
  background-color: #e68900;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-danger > td {
  border-color: #e53935 !important;
  background-color: #e53935 !important;
  color: #fff;
}

[data-background="light"] .table tbody tr.table-danger tr:hover > td {
  border-color: #e2231e;
  background-color: #e2231e;
  color: #fff;
}

[data-background="light"] .table.table-striped tbody tr td {
  background-color: #fff;
}

[data-background="light"] .table.table-unbordered thead th, [data-background="light"] .table.table-unbordered thead td, [data-background="light"] .table.table-unbordered thead tr,
[data-background="light"] .table.table-unbordered tbody th,
[data-background="light"] .table.table-unbordered tbody td,
[data-background="light"] .table.table-unbordered tbody tr {
  border: none !important;
}

[data-background="light"] .table.table-hover.table-hover-light tbody tr:hover td {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-dark tbody tr:hover td {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-default tbody tr:hover td {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-primary tbody tr:hover td {
  border-color: #2684f5;
  background-color: #2684f5;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-secondary tbody tr:hover td {
  border-color: #6200ea;
  background-color: #6200ea;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-info tbody tr:hover td {
  border-color: #00b8d4;
  background-color: #00b8d4;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-success tbody tr:hover td {
  border-color: #43a047;
  background-color: #43a047;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-warning tbody tr:hover td {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}

[data-background="light"] .table.table-hover.table-hover-danger tbody tr:hover td {
  border-color: #e53935;
  background-color: #e53935;
  color: #fff;
}

[data-background="dark"] .table th,
[data-background="dark"] .table td {
  background-color: #262626;
  border-color: #303030;
  color: #f5f5f5;
}

[data-background="dark"] .table tbody td {
  border-color: #303030;
}

[data-background="dark"] .table tbody td:hover {
  background-color: #2b2b2b;
}

[data-background="dark"] .table thead.thead-default th {
  background-color: #262626;
  border-color: #303030;
}

[data-background="dark"] .table thead.thead-inverse th {
  color: #262626;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

[data-background="dark"] .table thead.thead-light th {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #fff;
}

[data-background="dark"] .table thead.thead-dark th {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="dark"] .table thead.thead-primary th {
  border-color: #2684f5;
  background-color: #2684f5;
  color: #fff;
}

[data-background="dark"] .table thead.thead-secondary th {
  border-color: #6200ea;
  background-color: #6200ea;
  color: #fff;
}

[data-background="dark"] .table thead.thead-info th {
  border-color: #00b8d4;
  background-color: #00b8d4;
  color: #fff;
}

[data-background="dark"] .table thead.thead-success th {
  border-color: #43a047;
  background-color: #43a047;
  color: #fff;
}

[data-background="dark"] .table thead.thead-warning th {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}

[data-background="dark"] .table thead.thead-danger th {
  border-color: #e53935;
  background-color: #e53935;
  color: #fff;
}

[data-background="dark"] .table tbody tr:hover td {
  background-color: #2b2b2b;
}

[data-background="dark"] .table tbody tr.table-active > th,
[data-background="dark"] .table tbody tr.table-active > td {
  background-color: #2b2b2b;
}

[data-background="dark"] .table tbody tr.table-light > td {
  border-color: #f5f5f5 !important;
  background-color: #f5f5f5 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-light tr:hover > td {
  border-color: #e8e8e8;
  background-color: #e8e8e8;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-dark > td {
  border-color: #212121 !important;
  background-color: #212121 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-dark tr:hover > td {
  border-color: #141414;
  background-color: #141414;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-default > td {
  border-color: #212121 !important;
  background-color: #212121 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-default tr:hover > td {
  border-color: #141414;
  background-color: #141414;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-primary > td {
  border-color: #2684f5 !important;
  background-color: #2684f5 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-primary tr:hover > td {
  border-color: #1739fe;
  background-color: #1739fe;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-secondary > td {
  border-color: #6200ea !important;
  background-color: #6200ea !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-secondary tr:hover > td {
  border-color: #5700d1;
  background-color: #5700d1;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-info > td {
  border-color: #00b8d4 !important;
  background-color: #00b8d4 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-info tr:hover > td {
  border-color: #00a2bb;
  background-color: #00a2bb;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-success > td {
  border-color: #43a047 !important;
  background-color: #43a047 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-success tr:hover > td {
  border-color: #3b8e3f;
  background-color: #3b8e3f;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-warning > td {
  border-color: #ff9800 !important;
  background-color: #ff9800 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-warning tr:hover > td {
  border-color: #e68900;
  background-color: #e68900;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-danger > td {
  border-color: #e53935 !important;
  background-color: #e53935 !important;
  color: #fff;
}

[data-background="dark"] .table tbody tr.table-danger tr:hover > td {
  border-color: #e2231e;
  background-color: #e2231e;
  color: #fff;
}

[data-background="dark"] .table.table-striped tbody tr:nth-child(even) td {
  background-color: #262626;
}

[data-background="dark"] .table.table-striped tbody tr:nth-child(odd) td {
  background-color: #303030;
}

[data-background="dark"] .table.table-unbordered thead th, [data-background="dark"] .table.table-unbordered thead td, [data-background="dark"] .table.table-unbordered thead tr,
[data-background="dark"] .table.table-unbordered tbody th,
[data-background="dark"] .table.table-unbordered tbody td,
[data-background="dark"] .table.table-unbordered tbody tr {
  border: none !important;
}

[data-background="dark"] .table.table-hover.table-hover-light tbody tr:hover td {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-dark tbody tr:hover td {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-default tbody tr:hover td {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-primary tbody tr:hover td {
  border-color: #2684f5;
  background-color: #2684f5;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-secondary tbody tr:hover td {
  border-color: #6200ea;
  background-color: #6200ea;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-info tbody tr:hover td {
  border-color: #00b8d4;
  background-color: #00b8d4;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-success tbody tr:hover td {
  border-color: #43a047;
  background-color: #43a047;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-warning tbody tr:hover td {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}

[data-background="dark"] .table.table-hover.table-hover-danger tbody tr:hover td {
  border-color: #e53935;
  background-color: #e53935;
  color: #fff;
}

[data-background="primary"] .table th,
[data-background="primary"] .table td {
  background-color: #1c2586;
  border-color: #1f2a97;
  color: #f5f5f5;
}

[data-background="primary"] .table tbody td {
  border-color: #1f2a97;
}

[data-background="primary"] .table tbody td:hover {
  background-color: #1d288f;
}

[data-background="primary"] .table thead.thead-default th {
  background-color: #1c2586;
  border-color: #1f2a97;
}

[data-background="primary"] .table thead.thead-inverse th {
  color: #1c2586;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

[data-background="primary"] .table thead.thead-light th {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #fff;
}

[data-background="primary"] .table thead.thead-dark th {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="primary"] .table thead.thead-primary th {
  border-color: #2684f5;
  background-color: #2684f5;
  color: #fff;
}

[data-background="primary"] .table thead.thead-secondary th {
  border-color: #6200ea;
  background-color: #6200ea;
  color: #fff;
}

[data-background="primary"] .table thead.thead-info th {
  border-color: #00b8d4;
  background-color: #00b8d4;
  color: #fff;
}

[data-background="primary"] .table thead.thead-success th {
  border-color: #43a047;
  background-color: #43a047;
  color: #fff;
}

[data-background="primary"] .table thead.thead-warning th {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}

[data-background="primary"] .table thead.thead-danger th {
  border-color: #e53935;
  background-color: #e53935;
  color: #fff;
}

[data-background="primary"] .table tbody tr:hover td {
  background-color: #1d288f;
}

[data-background="primary"] .table tbody tr.table-active > th,
[data-background="primary"] .table tbody tr.table-active > td {
  background-color: #1d288f;
}

[data-background="primary"] .table tbody tr.table-light > td {
  border-color: #f5f5f5 !important;
  background-color: #f5f5f5 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-light tr:hover > td {
  border-color: #e8e8e8;
  background-color: #e8e8e8;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-dark > td {
  border-color: #212121 !important;
  background-color: #212121 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-dark tr:hover > td {
  border-color: #141414;
  background-color: #141414;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-default > td {
  border-color: #212121 !important;
  background-color: #212121 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-default tr:hover > td {
  border-color: #141414;
  background-color: #141414;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-primary > td {
  border-color: #2684f5 !important;
  background-color: #2684f5 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-primary tr:hover > td {
  border-color: #1739fe;
  background-color: #1739fe;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-secondary > td {
  border-color: #6200ea !important;
  background-color: #6200ea !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-secondary tr:hover > td {
  border-color: #5700d1;
  background-color: #5700d1;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-info > td {
  border-color: #00b8d4 !important;
  background-color: #00b8d4 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-info tr:hover > td {
  border-color: #00a2bb;
  background-color: #00a2bb;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-success > td {
  border-color: #43a047 !important;
  background-color: #43a047 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-success tr:hover > td {
  border-color: #3b8e3f;
  background-color: #3b8e3f;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-warning > td {
  border-color: #ff9800 !important;
  background-color: #ff9800 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-warning tr:hover > td {
  border-color: #e68900;
  background-color: #e68900;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-danger > td {
  border-color: #e53935 !important;
  background-color: #e53935 !important;
  color: #fff;
}

[data-background="primary"] .table tbody tr.table-danger tr:hover > td {
  border-color: #e2231e;
  background-color: #e2231e;
  color: #fff;
}

[data-background="primary"] .table.table-striped tbody tr:nth-child(even) td {
  background-color: #1c2586;
}

[data-background="primary"] .table.table-striped tbody tr:nth-child(odd) td {
  background-color: #1f2a97;
}

[data-background="primary"] .table.table-unbordered thead th, [data-background="primary"] .table.table-unbordered thead td, [data-background="primary"] .table.table-unbordered thead tr,
[data-background="primary"] .table.table-unbordered tbody th,
[data-background="primary"] .table.table-unbordered tbody td,
[data-background="primary"] .table.table-unbordered tbody tr {
  border: none !important;
}

[data-background="primary"] .table.table-hover.table-hover-light tbody tr:hover td {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-dark tbody tr:hover td {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-default tbody tr:hover td {
  border-color: #212121;
  background-color: #212121;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-primary tbody tr:hover td {
  border-color: #2684f5;
  background-color: #2684f5;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-secondary tbody tr:hover td {
  border-color: #6200ea;
  background-color: #6200ea;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-info tbody tr:hover td {
  border-color: #00b8d4;
  background-color: #00b8d4;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-success tbody tr:hover td {
  border-color: #43a047;
  background-color: #43a047;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-warning tbody tr:hover td {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}

[data-background="primary"] .table.table-hover.table-hover-danger tbody tr:hover td {
  border-color: #e53935;
  background-color: #e53935;
  color: #fff;
}
