[data-background="light"] .input-group {
  overflow: hidden;
}

[data-background="light"] .input-group .input-group-addon {
  color: #353535;
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

[data-background="light"] .input-group .form-control {
  color: #353535;
  background-color: #f0f0f0;
  border-color: #ebebeb;
}

[data-background="light"] .input-group .input-group-btn .btn {
  padding: 11px 11px 12px 11px;
  border-width: 1px;
}

[data-background="dark"] .input-group {
  overflow: hidden;
}

[data-background="dark"] .input-group .input-group-addon {
  color: #f5f5f5;
  background-color: #353535;
  border-color: #353535;
}

[data-background="dark"] .input-group .form-control {
  color: #f5f5f5;
  background-color: #303030;
  border-color: #303030;
}

[data-background="dark"] .input-group .input-group-btn .btn {
  padding: 11px 11px 12px 11px;
  border-width: 1px;
}

[data-background="primary"] .input-group {
  overflow: hidden;
}

[data-background="primary"] .input-group .input-group-addon {
  color: #f5f5f5;
  background-color: #212ca0;
  border-color: #212ca0;
}

[data-background="primary"] .input-group .form-control {
  color: #f5f5f5;
  background-color: #1f2a97;
  border-color: #1f2a97;
}

[data-background="primary"] .input-group .input-group-btn .btn {
  padding: 11px 11px 12px 11px;
  border-width: 1px;
}
