<div class="row m-b-0">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="widget">
      <div class="row">
        <div class="col-xs-12">
          <div class="dashboard-widget-1">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-circle btn-outline">
                  <i class="fa fa-qrcode"></i>
                </button>
                <div class="number" id="counter-1">0</div>
                <div class="title">Redemptions Today</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="widget">
      <div class="row">
        <div class="col-xs-12">
          <div class="dashboard-widget-1">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-circle btn-outline">
                  <i class="fa fa-group"></i>
                </button>
                <div class="number" id="counter-2">0</div>
                <div class="title">Customers</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="widget">
      <div class="row">
        <div class="col-xs-12">
          <div class="dashboard-widget-1">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-circle btn-outline">
                  <i class="fa fa-suitcase"></i>
                </button>
                <div class="number" id="counter-3">0</div>
                <div class="title">Merchants</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
    <div class="widget">
      <div class="row">
        <div class="col-xs-12">
          <div class="dashboard-widget-1">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-circle btn-outline">
                  <i class="fa fa-shopping-bag"></i>
                </button>
                <div class="number" id="counter-4">0</div>
                <div class="title">Total Deals</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-b-0">
  <div class="col-xs-12 col-xl-8">
    <div class="widget products-widget">
      <div class="row">
        <div class="col-xs-12">
          <div class="title">Top Deals</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
              <tr>
                <th></th>
                <th>SKU</th>
                <th>Name</th>
                <th>Location</th>
                <th>Redemptions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <img class="rounded-circle" src="../../assets/images/products/p4.png" alt="product"/>
                </td>
                <td class="sku">
                  33425131
                </td>
                <td>
                  Uncharted 4
                </td>
                <td class="brand">
                  Nathan's
                </td>
                <td>
                  485
                </td>
              </tr>
              <tr>
                <td>
                  <img class="rounded-circle" src="../../assets/images/products/p5.png" alt="product"/>
                </td>
                <td class="sku">
                  22125151
                </td>
                <td>
                  Sony DSCW800/B 20.1 MP Digital Camera
                </td>
                <td class="brand">
                  Nathan's
                </td>
                <td>
                  395
                </td>
              </tr>
              <tr>
                <td>
                  <img class="rounded-circle" src="../../assets/images/products/p9.png" alt="product"/>
                </td>
                <td class="sku">
                  98945745
                </td>
                <td>
                  Nikon COOLPIX AW130 Waterproof Digital Camera with Built-In Wi-Fi
                </td>
                <td class="brand">
                  Nathan's
                </td>
                <td>
                  341
                </td>
              </tr>
              <tr>
                <td>
                  <img class="rounded-circle" src="../../assets/images/products/p10.png" alt="product"/>
                </td>
                <td class="sku">
                  63123111
                </td>
                <td>
                  Fujifilm FinePix XP80 Waterproof Digital Camera with 2.7-Inch LCD
                </td>
                <td class="brand">
                  Nathan's
                </td>
                <td>
                  231
                </td>
              </tr>
              <tr>
                <td>
                  <img class="rounded-circle" src="../../assets/images/products/p7.png" alt="product"/>
                </td>
                <td class="sku">
                  777125111
                </td>
                <td>
                  Nikon COOLPIX S33 Waterproof Digital Camera
                </td>
                <td class="brand">
                  Nathan's
                </td>
                <td>
                  68
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-xl-4">
    <div class="widget">
      <div class="row">
        <div class="col-xs-12">
          <div class="title">Activity Stream</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="activity-widget-1">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-success">sale</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Michael Smith upgraded to the $50 plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">4 minutes ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-danger">return</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Lucas Johnson cancelled the $50 plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">34 minutes ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-warning">refund</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Jane Perez is asking for a refund
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">2 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-success">sale</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    George Michael upgraded to the $25 plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">3 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-primary">new</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Gladys Peters is looking for a new plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">4 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-info">new</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Gladys Peters is looking for a new plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">5 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-success">sale</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    John Smith upgraded to the $100 plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">7 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-warning">refund</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Peter Jackson is asking for a refund
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">8 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-danger">return</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Melvin White is asking for a refund
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">10 hours ago</span>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs flex-xs-middle flex-80">
                    <span class="tag tag-info">new</span>
                  </div>
                  <div class="col-xs">
                    <div class="list-group-item-text"></div>
                    Lucas Peters is looking for a new plan
                  </div>
                  <div class="col-xs flex-xs-middle flex-120">
                    <span class="date text-xs">Yesterday</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
