#ui-elements-dropdown-animations .demo {
  padding-bottom: 200px;
}

#ui-elements-dropdown-animations .demo .dropdown-toggle {
  margin-right: 10px;
  margin-bottom: 10px;
}

.dropdown.open > .animated {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
