.list-group .list-group-item.active {
  background: #2684f5;
  border-color: #2684f5;
  color: #fff;
}

.list-group .list-group-item.list-group-item-light.active {
  background: #f5f5f5;
}

.list-group .list-group-item.list-group-item-dark.active {
  background: #212121;
}

.list-group .list-group-item.list-group-item-default.active {
  background: #212121;
}

.list-group .list-group-item.list-group-item-primary.active {
  background: #2684f5;
}

.list-group .list-group-item.list-group-item-secondary.active {
  background: #6200ea;
}

.list-group .list-group-item.list-group-item-info.active {
  background: #00b8d4;
}

.list-group .list-group-item.list-group-item-success.active {
  background: #43a047;
}

.list-group .list-group-item.list-group-item-warning.active {
  background: #ff9800;
}

.list-group .list-group-item.list-group-item-danger.active {
  background: #e53935;
}

.list-group .list-group-item .flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}

.list-group .list-group-item .flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.list-group .list-group-item .flex-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
}

.list-group .list-group-item .flex-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.list-group .list-group-item .flex-120 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.list-group .list-group-item .flex-140 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.list-group .list-group-item {
  padding: 0.5rem 1rem;
}

.list-group.list-group-sm .list-group-item {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
}

[data-background="light"] .list-group-item {
  background-color: #fff;
  border-color: #fff;
  color: #353535;
}

[data-background="light"] .list-group-item p {
  color: #353535;
}

[data-background="light"] .list-group-item.active {
  background: #2684f5;
  border-color: #2684f5;
  color: #fff;
}

[data-background="light"] .list-group-item.active p {
  color: #fff;
}

[data-background="light"] .list-group-item.disabled {
  background-color: #fff;
}

[data-background="light"] .list-group-item:nth-child(even):not(.active) {
  background-color: #fff;
  border-color: #fff;
}

[data-background="light"] .list-group-item.list-group-item-action:not(.active) .list-group-item-heading,
[data-background="light"] .list-group-item.list-group-item-action:not(.active) .list-group-item-text {
  color: #353535;
}

[data-background="dark"] .list-group-item {
  background-color: #262626;
  border-color: #2b2b2b;
  color: #f5f5f5;
}

[data-background="dark"] .list-group-item p {
  color: #f5f5f5;
}

[data-background="dark"] .list-group-item.active {
  background: #ff9800;
  border-color: #ff9800;
  color: #fff;
}

[data-background="dark"] .list-group-item.active p {
  color: #fff;
}

[data-background="dark"] .list-group-item.disabled {
  background-color: #2b2b2b;
}

[data-background="dark"] .list-group-item:nth-child(even):not(.active) {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

[data-background="dark"] .list-group-item.list-group-item-action:not(.active) .list-group-item-heading,
[data-background="dark"] .list-group-item.list-group-item-action:not(.active) .list-group-item-text {
  color: #f5f5f5;
}

[data-background="primary"] .list-group-item {
  background-color: #1c2586;
  border-color: #1d288f;
  color: #f5f5f5;
}

[data-background="primary"] .list-group-item p {
  color: #f5f5f5;
}

[data-background="primary"] .list-group-item.active {
  background: #54b859;
  border-color: #54b859;
  color: #fff;
}

[data-background="primary"] .list-group-item.active p {
  color: #fff;
}

[data-background="primary"] .list-group-item.disabled {
  background-color: #1d288f;
}

[data-background="primary"] .list-group-item:nth-child(even):not(.active) {
  background-color: #1d288f;
  border-color: #1d288f;
}

[data-background="primary"] .list-group-item.list-group-item-action:not(.active) .list-group-item-heading,
[data-background="primary"] .list-group-item.list-group-item-action:not(.active) .list-group-item-text {
  color: #f5f5f5;
}
