#ui-elements-tags .demo .tag {
  margin-right: 5px;
}

.tag {
  border-radius: 6px;
  border: 0;
  font-size: 13px;
  text-align: center;
  line-height: 1;
  padding: 5px 10px;
  font-weight: 500;
}

.tag.tag-sm {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.tag.tag-lg {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
}

.tag.tag-rounded {
  padding: 0 !important;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.tag.tag-rounded.tag-sm {
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
}

.tag.tag-rounded.tag-sm.tag-outline {
  line-height: 16px;
}

.tag.tag-rounded.tag-lg {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
}

.tag.tag-rounded.tag-lg.tag-outline {
  line-height: 28px;
}

.tag.tag-light:not(.tag-outline) {
  background-color: #f5f5f5;
  color: #fff;
  border-color: #f5f5f5;
}

.tag.tag-outline.tag-light {
  border: 1px solid #f5f5f5;
  background-color: transparent;
  color: #f5f5f5;
}

.tag.tag-dark:not(.tag-outline) {
  background-color: #212121;
  color: #fff;
  border-color: #212121;
}

.tag.tag-outline.tag-dark {
  border: 1px solid #212121;
  background-color: transparent;
  color: #212121;
}

.tag.tag-default:not(.tag-outline) {
  background-color: #212121;
  color: #fff;
  border-color: #212121;
}

.tag.tag-outline.tag-default {
  border: 1px solid #212121;
  background-color: transparent;
  color: #212121;
}

.tag.tag-primary:not(.tag-outline) {
  background-color: #2684f5;
  color: #fff;
  border-color: #2684f5;
}

.tag.tag-outline.tag-primary {
  border: 1px solid #2684f5;
  background-color: transparent;
  color: #2684f5;
}

.tag.tag-secondary:not(.tag-outline) {
  background-color: #6200ea;
  color: #fff;
  border-color: #6200ea;
}

.tag.tag-outline.tag-secondary {
  border: 1px solid #6200ea;
  background-color: transparent;
  color: #6200ea;
}

.tag.tag-info:not(.tag-outline) {
  background-color: #00b8d4;
  color: #fff;
  border-color: #00b8d4;
}

.tag.tag-outline.tag-info {
  border: 1px solid #00b8d4;
  background-color: transparent;
  color: #00b8d4;
}

.tag.tag-success:not(.tag-outline) {
  background-color: #43a047;
  color: #fff;
  border-color: #43a047;
}

.tag.tag-outline.tag-success {
  border: 1px solid #43a047;
  background-color: transparent;
  color: #43a047;
}

.tag.tag-warning:not(.tag-outline) {
  background-color: #ff9800;
  color: #fff;
  border-color: #ff9800;
}

.tag.tag-outline.tag-warning {
  border: 1px solid #ff9800;
  background-color: transparent;
  color: #ff9800;
}

.tag.tag-danger:not(.tag-outline) {
  background-color: #e53935;
  color: #fff;
  border-color: #e53935;
}

.tag.tag-outline.tag-danger {
  border: 1px solid #e53935;
  background-color: transparent;
  color: #e53935;
}
